.form {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  margin: 4rem auto;
}

.input_container {
  display: flex;
  margin-top: .5rem;
}

.input_container input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #EEE;
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
}

.input_container input:focus {
  outline: none;
}

.input_container button {
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: var(--primary-color);
  width: fit-content;
  display: grid;
  place-content: center;
  padding: .4rem;
  transition: background-color .2s;
}

.input_container button:hover {
  background-color: var(--focus-color);
}

.send_icon {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
}

.result {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 2px solid var(--primary-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

.status_message{
  text-align: center;
}

.result_link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy_container {
  margin-left: 3rem;
  display: flex;
  align-items: center;
}

.copy_container span {
  font-size: .8rem;
}

.copy_button{
  height: fit-content;
  width: fit-content;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.copy_icon {
  height: 1.7rem;
  width: 1.7rem;
}